@use "./variables" as var;

/* A Modern CSS Reset */
/* https://coliss.com/articles/build-websites/operation/css/css-reset-for-modern-browser.html */

*,
*::before,
*::after {
	box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
button,
input,
select,
figure,
blockquote,
div,
dd,
dl,
dt,
table,
td,
th {
	margin: 0;
}

ul,
ol {
	margin: 0;
	padding: 0;
}

[role="list"],
ol[role="list"],
li {
	list-style: none;
}

html:focus-within {
	scroll-behavior: smooth;
}

html {
	font-size: 62.5%;
	height: 100%;
	min-height: 100vh;
}

body {
	font-size: 1.6rem;
	line-height: 1.5;
	color: var.$textBlack;
	font-family: "Roboto Condensed", "Noto Sans JP", "Helvetica Neue", Arial,
		"Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo, sans-serif;
	text-rendering: optimizeSpeed;
}

a:not([class]) {
	text-decoration-skip-ink: auto;
}

small {
	font-size: 1rem;
}

picture {
	display: block;
}

img,
picture {
	display: block;
	max-width: 100%;
}

input,
button,
textarea,
select {
	font: inherit;
	margin: 0;
	padding: 0;
	border: 0;
}

button {
	background: inherit;
	cursor: pointer;
}

a {
	text-decoration: none;
}

table {
	width: 100%;
	border-spacing: 0;
}
th,
td {
	padding: 0;
}
address {
	font-style: normal;
}

@media (prefers-reduced-motion: reduce) {
	html:focus-within {
		scroll-behavior: auto;
	}

	*,
	*::before,
	*::after {
		animation-duration: 0.01ms !important;
		animation-iteration-count: 1 !important;
		transition-duration: 0.01ms !important;
		scroll-behavior: auto !important;
	}
}
